button {
  height: 40px;
  width: 110px;
  margin-left: 30px;
  margin-bottom: 30px;
  color: white;
  background-color: #2773ff;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #2773ff;
  border-radius: 3px;
}

.grey {
  background-color: #f1f3f6;
  padding: 0px 30px 80px 30px;
}

.white {
  background-color: white;
  margin: 30px 30px 15px 30px;
  padding-top: 0px;
}

.table-wrapper {
  padding: 30px;
}

.white h2 {
  font-size: 14px;
  margin-left: 30px;
  margin-top: 30px;

}

.invoice-table {
  width: 100%;
  border-collapse: collapse;
  padding: 30px;

}

.invoice-table thead {
  background-color: #f1f3f6;
  line-height: 60px;
  font-size: 14px;
  color: #808080;
  text-align: left;

}

.invoice-table th {
  padding-left: 20px;
}
.invoice-table tbody {
  line-height: 60px;
}

.invoice-table tbody tr:nth-of-type(odd) {
  background-color: white;
}

.invoice-table tbody tr:nth-of-type(even) {
  background-color: #f1f3f6;
}

.invoice-table td {
  padding-left: 20px;
}
